.global-container {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/background-repeat.webp");
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: repeat-x;
  color: white;
  overflow-x: hidden;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: rgba(0, 0, 0, 0);
}

mat-toolbar button {
  font-size: 18px;
}

mat-toolbar button.is-active {
  color: #a538ff;
}
