html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Titillium Web", "Helvetica Neue", sans-serif;
}

.page-container {
  margin: 5vw 3vh;
}

@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: "Titillium Web",
);
@include mat-core($custom-typography);
